<!-- templates/combate.html -->

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Juego de Combate - Combate</title>
</head>
<body>
    <h1>Combate</h1>
    <h2>Jugador</h2>
    <p>Nombre: {{ jugador.nombre }}</p>
    <p>Vida: {{ jugador.vida }}</p>
    <p>Daño: {{ jugador.daño }}</p>
    <p>Nivel: {{ jugador.nivel }}</p>
    
    <h2>Enemigo</h2>
    <p>Nombre: {{ enemigo.nombre }}</p>
    <p>Vida: {{ enemigo.vida }}</p>
    <p>Daño: {{ enemigo.daño }}</p>
    <p>Nivel: {{ enemigo.nivel }}</p>
    
</body>
</html>


